<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <!-- <link rel="stylesheet" href="css/normalize.css"> -->
    <link rel="stylesheet" href="css/styles.css">
    <script id="youtubeTemplate" type="text/template">
      <li class='youtube-item' data-youtube=<%= youtubeCode %>><p><%= title %></p><button class="removeTrack">X</a></button>
    </script>
</head>
  <body>
    <div class="container">
      <div id="player"></div>
      <form id="addVideo">
        Enter Vid: <input type="text" name="linkcode"><br>
        <input type="submit" value="Submit">
      </form>
      <button class="nav next">Next >></button>
      <button class="nav prev"><< Prev</button>
      <ul class="video-list">
      </ul>
    </div>
    <script src="libs/jquery-2.1.1.min.js"></script>
    <script src="libs/underscore.js"></script>
    <script src="libs/backbone.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>


